<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Simple blog</title>
  </head>
  <body>
    <h1>글 작성이 성공적으로 완료되었습니다</h1>
    <p>제목 : <%= @title %></p><br>
    <p>내용 : <%= @content %></p>
  </form>
  </body>
</html>
